*~
~*
*.diff
*.patch
*.bak
.DS_Store
*.swp
*.swo
*.log
*.log.*

/.vscode/

node_modules/
.sass-cache/

/.bundle/
/vendor/bundle
*.gem

yarn.lock
package-lock.json
Gemfile.lock

_site/
.jekyll-metadata
.jekyll-cache/

CHANGELOG.md
HOW_TO_RELEASE.md
gulpfile.js
jekyll-text-theme.gemspec
package-lock.json
package.json
/docs
/node_modules
/screenshots
/test
